@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*Snippet pour les préfixes de box-sizing*/

.box {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

/*font*/

* {
  font-family: "Raleway", sans-serif;
}

.filtreBouton {
  background-color: white;
  cursor: pointer;
  border: none;
}

/*cacher les Parties exclusives pour Phone (bouton de recherche)*/
.rechercPhoneBouton,
.rechercPhoneBoutonDiv {
  display: none;
}

h1,
.rechercChamp,
.rechercBouton {
  font-weight: bold;
}
/*  h2 titre Les plus populaires*/
h2 {
  font-weight: bold;
  font-size: 22px;
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

/*fin font*/

/*Barre de navigation*/
.bookiHebActBlockNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hebActUl {
  display: flex;
  list-style: none;
  padding-left: 0px;
}

.hebLi,
.actLi {
  padding: 52px;
}

.hebLi:hover,
.actLi:hover {
  color: #0065fcff;
  border-top-style: solid;
  padding-top: 47px;
}

.bookiImg {
  padding-left: 70px;
}
/*fin de la barre de navigation*/

/*zone de texte avant recherche*/

.heberReveTextDiv,
.villeNatTextDiv {
  margin-left: 20px;
  margin-right: 20px;
}

.villeNatTextDiv {
  margin-bottom: 15px;
  margin-top: 15px;
}

.heberReveTextDiv {
  font-weight: bold;
}
/*fin zone de texte*/

/*zone de recherche*/
.rechercForm {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rechercChamp {
  border: 1px solid;
  border-color: #f2f2f2;
  height: 48px;
  width: 230px;
}

.rechercBouton {
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  height: 50px;
  width: 130px;
  color: white;
  border: none;
}

.rechercBlockDiv {
  margin-left: 20px;
  margin-right: 20px;
}

.locationIcon {
  align-items: center;
  font-size: 150%;
  align-items: center;
  position: relative;
  top: 15px;
  left: 15px;
}

.locationDiv {
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  height: 50px;
  width: 50px;
}

/*filtres*/

.filtreDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.filtreDivIcon {
  background-color: #deebff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #0065fc;
  position: relative;
  right: 20px;
}

.filtreIcon {
  font-size: 125%;
  align-items: center;
  position: relative;
  top: 15px;
}

.filtreNomTextDiv {
  padding-right: 30px;
}

.filtreIcoTextBlockDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid;
  border-bottom: 2px solid;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0px 30px 30px 0px;
  border-right: 1px solid;
  border-color: #f2f2f2;
}

.filtreTitreDiv {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filtreTitre {
  margin-right: 20px;
  margin-left: 20px;
}

/*fin filtres*/

/*Note */
.noteDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.noteIconDiv {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #0065fc;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  border: 3px solid;
  border-color: #f2f2f2;
}

.infoIcon {
  align-items: center;
  position: relative;
  top: 3px;
  left: 10px;
}

/*zone note fini*/

/*hebergements a marseille*/
.heberMarImg {
  width: 240px;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  object-fit: cover;
}

.heberMarDiv {
  width: 879px;
  height: 622px;
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 15px;
}

.heberMarImgBlockDiv {
  width: 250px;
  height: 200px;
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
}

.heberMarNameDiv {
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.heberMarPrixDiv,
.etoile {
  margin-left: 15px;
  margin-right: 15px;
}

.etoileBleuIcon {
  font-size: 90%;
  color: #0065fc;
}

.etoileVideIcon {
  font-size: 90%;
  color: #f2f2f2;
}

.heberTousBlockDiv {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  height: auto;
}

.marTextDiv {
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 14px;
}

.marPlusTextDiv {
  margin-bottom: 35px;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  font-weight: bold;
}
/*fin zone hbergements*/

/*zone les plus populaires*/
.popEtoileNameImgBlockDiv {
  display: flex;
  justify-content: flex-start;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  width: 350px;
  height: 140px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
}

.popImg {
  width: 129px;
  height: 130px;
  border-radius: 15px 0px 0px 15px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  object-fit: cover;
}

.popDiv {
  background-color: #f2f2f2;
  width: 420px;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.popNomEtoileBlockDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.popNomDiv,
.popPrixDiv {
  margin-left: 15px;
  margin-right: 15px;
}
.popNomDiv {
  margin-top: 15px;
  margin-bottom: 15px;
}
.popPrixDiv {
  padding-bottom: 30px;
}

.popNomDiv {
  font-weight: bold;
  margin-right: 20px;
}

.popEtoile {
  margin-left: 15px;
  margin-right: 15px;
}

.popTextDiv {
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.popIcon {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 70px;
}
/*bloc des plus populaires fin*/

/*bloc Hebergements a marseille et Les plus popualaires*/
.marPopBlockDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
  gap: 30px;
}

/*activités a Marseille*/
.activitesMarseilleDiv {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.actGranImg {
  width: 300px;
  height: 400px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.actPetitImg {
  width: 300px;
  height: 143px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.actGranDiv,
.actPetitDiv {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 15px 15px 15px 15px;

  box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
}

.actGranDiv {
  height: 455px;
}
.actPetitDiv {
  height: 200px;
}
/*div du texte Activité a Marseille*/
.actTextDiv {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
}

.DameLongchampBlockDiv,
.FortIlesBlockDiv {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/*text de l'activité*/
.actMarTextDiv {
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 22px;
  display: flex;
}

.actMarBlockDiv {
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*fin du bloc activités a marseille*/
/*
.actMarBlockDivPos {
}*/

/*footer*/
.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  padding-left: 25px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.footerDiv {
  width: 400px;
  margin-right: 25px;
  margin-left: 25px;
}

.footerTextDiv {
  margin-bottom: 15px;
  margin-top: 15px;
}

.footerContainerDiv {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/*fin du footer*/

/*passage du bloc hebergement a marseille et les plus populaires en 2 lignes*/
@media screen and (max-width: 1366px) {
  .marPopBlockDiv {
    margin-left: 0px;
    margin-right: 0px;
  }
}
/*le bloc hebergement a marseille ne tient plus sur 1 ligne et passage au rendu phone*/
@media screen and (max-width: 933px) {
  .popDiv {
    height: 578px;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
  }

  .heberMarDiv {
    width: 390px;
    height: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .heberMarImg {
    width: 325px;
    height: 110px;

    border-radius: 15px 15px 0px 0px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .heberMarImgBlockDiv {
    width: 335px;
    height: 200px;
    background-color: #ffffffff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 10px;

    box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
  }

  .marPlusTextDiv {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    font-weight: bold;
  }

  .marPopBlockDiv {
    flex-direction: column-reverse;
    align-items: center;
  }

  .popEtoileNameImgBlockDiv {
    margin-bottom: 7px;
    margin-top: 7px;
  }
}

/*phone*/
@media screen and (max-width: 768px) {
  .hebActUl {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .bookiHebActBlockNav {
    flex-flow: column nowrap;
    border-bottom: 2px solid #f2f2f2;
  }

  .rechercBouton {
    display: none;
  }

  .rechercPhoneBouton,
  .rechercPhoneBoutonDiv {
    display: flex;
  }

  .recherchPhoneIcon {
    align-items: center;
    font-size: 125%;
    align-items: center;
    position: relative;
    top: 15px;
    left: 15px;
    color: white;
  }

  .rechercPhoneBoutonDiv {
    background-color: #0065fc;
    border-radius: 15px 15px 15px 15px;
    height: 50px;
    width: 50px;
  }

  .footerDiv {
    margin-left: 30px;
  }

  .actMarBlockDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .activitesMarseilleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .actGranDiv {
    height: 190px;
  }

  .actGranDiv,
  .actPetitDiv {
    margin-top: 20px;
    width: 336px;
  }

  .actGranImg,
  .actPetitImg {
    height: 135px;
    width: 336px;
    border-radius: 15px 15px 0px 0px;
  }

  .actMarBlockDiv {
    margin-bottom: 1px;
  }

  .actMarTextDiv {
    padding-top: 0px;
    padding-right: 110px;
    font-weight: bold;
    font-size: 22px;
  }

  .actLi:hover,
  .hebLi:hover {
    color: #0065fcff;
    border-top-style: none;
    border-bottom-style: solid;
    padding-top: 47px;
  }
}
/*arret du centrage du block activités marseille pour les écran un peu plus petit mais toujours desktop*/
@media screen and (max-width: 1400px) {
  .activitesMarseilleDiv {
    justify-content: flex-start;
  }
}
