@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

/*Snippet pour les préfixes de box-sizing*/

.box {
  box-sizing: border-box; /* Opera/IE 8+ */
  -moz-box-sizing: border-box; /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

/*font*/

* {
  font-family: "Raleway", sans-serif;
}

.phoneButton,
.divPhoneButton {
  display: none;
}

h1,
.searchField,
.searchButton {
  font-weight: bold;
}
/*  h2 titre Les plus populaires*/
h2 {
  font-weight: bold;
  font-size: 22px;
}

/*fin font*/

.navBlockBookiAccoAct {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ulAccoAct {
  display: flex;
  list-style: none;
}

.liAcco,
.liAct {
  padding: 52px;
}

.liAcco:hover,
.liAct:hover {
  color: #0065fcff;
  border-top-style: solid;
  padding-top: 47px;
}

.imgBooki {
  margin-left: 70px;
  margin-right: 70px;
}

/*992 px pour les écrans d’ordinateurs et 768 px pour les tablettes, et
tout ce qui est en dessous de 768 pour les téléphones portables*/

@media screen and (max-width: 768px) {
  /*nav {
      flex-flow: column nowrap; 
   }*/
}

.formSearch {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchField {
  border: 1px solid;
  border-color: #f2f2f2;
  height: 48px;
  width: 230px;
}

.searchButton {
  background-color: #0065fc;
  border-radius: 0px 15px 15px 0px;
  height: 50px;
  width: 130px;
  color: white;
}

.locationIcon {
  align-items: center;
  font-size: 150%;
  align-items: center;
  position: relative;
  top: 15px;
  left: 15px;
}

.divLocation {
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
  height: 50px;
  width: 50px;
}

/*filtres*/

.divFilter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}

.divFilterIcon {
  background-color: #deebff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  color: #0065fc;
  position: relative;
  right: 20px;
}

.iconFilter {
  align-items: center;
  font-size: 150%;
  align-items: center;
  position: relative;
  top: 15px;
  left: 15px;
}

.divTextEco {
  /*margin-right: 30px;
  margin-left: 30px;*/
  padding-right: 30px;
}

.divBlockIcoText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 2px solid;
  border-bottom: 2px solid;
  /*margin-left: 20px;
  margin-right: 50px;*/
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0px 30px 30px 0px;
  border-right: 1px solid;
  border-color: #deebff;
}

.divTitleFilter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*margin-left: 20px;
  margin-right: 20px;*/
  margin-top: 20px;
  margin-bottom: 20px;
}

.titleFilter {
  margin-right: 20px;
  margin-left: 20px;
}

.divNote {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divI {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #0065fc;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
  border: 3px solid;
  border-color: #deebff;
}

.infoIcon {
  align-items: center;
  position: relative;
  top: 3px;
  left: 10px;
}

.imgAccoMar {
  width: 240px;
  height: 120px;
  border-radius: 15px 15px 0px 0px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  object-fit: cover;
}

.divAccoMar {
  width: 879px;
  height: 622px;
  background-color: #f2f2f2;
  border-radius: 15px 15px 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*margin-top: 35px;
  margin-bottom: 35px;*/
  margin-top: 15px;
  margin-bottom: 15px;
}

.divBlockImgAccoMar {
  width: 250px;
  height: 200px;
  background-color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px 15px 15px 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
}

.divNameAccoMar {
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
}

.divPriceAccoMar,
.stars {
  margin-left: 15px;
  margin-right: 15px;
}

.iconBlueStar {
  font-size: 90%;
  color: #0065fc;
}

.iconEmptyStar {
  font-size: 90%;
  color: #f2f2f2;
}

.divBlockAllAcco {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 15px;
  margin-right: 15px;
  height: auto;
}
/*
.divAccoMarEmpty {
  margin-top: 7px;
  margin-bottom: 7px;
}*/
/*
.divPopEmpty {
  margin-top: 7px;
  margin-bottom: 7px;
}*/

.divTextMar {
  /**font-weight: bold;*/
  /*margin-top: 15px;
  margin-bottom: 15px;*/
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 14px;
  /*
  font-size: 22px;*/
}

.divTextMore {
  margin-bottom: 35px;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;
  font-weight: bold;
}

.divBlockImgNameStarsPop {
  display: flex;
  justify-content: flex-start;
  border-radius: 15px 15px 15px 15px;
  background-color: white;
  width: 350px;
  height: 140px;
  margin-left: 35px;
  margin-right: 35px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
}

.imgPop {
  width: 129px;
  height: 130px;
  border-radius: 15px 0px 0px 15px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  object-fit: cover;
}

.divPop {
  background-color: #f2f2f2;
  width: 420px;
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*flex-grow: 1;*/
  border-radius: 15px 15px 15px 15px;
  margin-left: 30px;
  margin-right: 30px;
  /*margin-top: 35px;*/
  margin-top: 15px;
  margin-bottom: 15px;
}

.divBlockNameStarsPop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.divNamePop,
.divPricePop {
  margin-left: 15px;
  margin-right: 15px;
}
.divNamePop {
  margin-top: 15px;
  margin-bottom: 15px;
}
.divPricePop {
  padding-bottom: 30px;
}

.divNamePop {
  font-weight: bold;
  margin-right: 20px;
}

.starsPop {
  margin-left: 15px;
  margin-right: 15px;
  /*margin-top: 30px;*/
}

.divTextPop {
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.iconPop {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}
/**
.divEmptyBetweenNightStars {
  margin-top: 15px;
  margin-bottom: 15px;
}*/

.divBlockMarPop {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

@media screen and (max-width: 1366px) {
  .divBlockMarPop {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 933px) {
  .divPop {
    height: 578px;
    /*justify-content: center;*/
    /*margin-left: 0px;*/
  }

  .divAccoMar {
    width: 390px;
    /*height: 1420px;*/
    height: auto;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin-top: 35px;*/
  }

  .imgAccoMar {
    width: 325px;
    height: 110px;

    border-radius: 15px 15px 0px 0px;
    margin-left: 5px;
    margin-top: 5px;
  }

  .divBlockImgAccoMar {
    width: 335px;
    height: 200px;
    background-color: #ffffffff;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px 15px 15px 15px;
    /*margin-left: 30px;*/
    margin-bottom: 10px;

    box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
  }

  .divTextMore {
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 35px;
    margin-right: 35px;
    font-weight: bold;
  }

  .divBlockMarPop {
    flex-direction: column-reverse;
    align-items: center;
  }

  .divBlockImgNameStarsPop {
    margin-bottom: 7px;
    margin-top: 7px;
  }
}

.divActivitesMarseille {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*margin-left: 3px;
  margin-right: 3px;*/
}

.imgActLarge {
  width: 300px;
  height: 400px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.imgActSmall {
  width: 300px;
  height: 143px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.divBigAct,
.divSmallAct {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 15px 15px 15px 15px;

  box-shadow: 0 4px 8px 0 #e7e7e7ff, 0 6px 20px 0 #e7e7e7ff;
}

.divBigAct {
  height: 455px;
}
.divSmallAct {
  height: 200px;
}

.divTextAct {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  font-size: 15px;
}

.divBlockDameLongchamp,
.divBlockFortIles {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.divTextActMar {
  padding-top: 30px;
  /*margin-top: 45px;*/
  /*margin-bottom: 20px;*/
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  font-size: 22px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  /*margin-right: 25px;
  margin-left: 25px;*/
  padding-left: 25px;
  padding-bottom: 50px;
  padding-top: 30px;
}

.divFooter {
  width: 400px;
  /*margin-left: 50px;*/
  margin-right: 25px;
  margin-left: 25px;
}

.divTextFooter {
  margin-bottom: 15px;
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .navBlockBookiAccoAct {
    flex-flow: column nowrap;
  }

  .searchButton {
    display: none;
  }

  .phoneButton,
  .divPhoneButton {
    display: flex;
  }

  .phoneSearchIcon {
    align-items: center;
    font-size: 125%;
    align-items: center;
    position: relative;
    top: 15px;
    left: 15px;
    color: white;
  }

  .divPhoneButton {
    background-color: #0065fc;
    border-radius: 15px 15px 15px 15px;
    height: 50px;
    width: 50px;
  }

  .divFooter {
    margin-left: 30px;
  }

  .divBlockActMar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divActivitesMarseille {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .divBigAct {
    height: 190px;
  }

  .divBigAct,
  .divSmallAct {
    margin-top: 20px;
    width: 336px;
  }

  .imgActLarge,
  .imgActSmall {
    height: 135px;
    width: 336px;
    border-radius: 15px 15px 0px 0px;
  }

  .divBlockActMar {
    margin-bottom: 1px;
  }

  .divTextActMar {
    /*margin-top: 45px;*/
    /*margin-bottom: 20px;*/
    /*margin-right: 100px;*/
    padding-top: 0px;
    padding-right: 110px;
    font-weight: bold;
    font-size: 22px;
  }

  .liAct:hover,
  .liAcco:hover {
    color: #0065fcff;
    border-top-style: none;
    border-bottom-style: solid;
    padding-top: 47px;
  }
}

a:link,
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.divBlockSearch {
  margin-left: 20px;
}

.divTextAccoDream,
.divTextTownNat {
  margin-left: 20px;
  margin-bottom: 15px;
}

.divTextAccoDream {
  font-weight: bold;
  /*font-size: 150%;*/
}

.divBlockActMar {
  /*margin-bottom: 50px;*/
  padding-bottom: 35px;
}
